.space {

    justify-content: center;

}

.resp {
    display: flex;
    flex-direction: row;
}

.img {

    height: 310px;
    width: 80%;
}

.img1 {
    height: 310px;
    width: 95%;
    margin-right: 80px;
}

.head {
   width: 80%;
    text-align: center;
}

.headd {

    width: 80%;
    text-align: center;
    font-weight: 700;
}   

.head1 {
    width: 90%;
     text-align: center;
 }
 

 @media screen and (max-width: 780px) {
    .headd {
        font-size: 32px;
     
    }
    .resp {
        display: flex;
        flex-direction: column;
    }
    .img {
        width: 89%;
    }
 }
