.space {

    justify-content: center;

}

.resp {
    display: flex;
    flex-direction: row;
   
}

.img {

    height: 310px;
    width: 87%;
}

.img1 {
    height: 310px;
    width: 95%;
    margin-right: 80px;
}

.head {
    text-align: center;
    width: 90%;

}

.headd {

    width: 85%;
    text-align: center;
    font-weight: 700;
    margin-left: 0px;
  
}   

.discord {
   text-align: center;
   margin-top: 10px;
}

.discord h2 {
    font-weight: 700;
}
.disc{
    width: 40%;
    cursor: pointer;
}

.head1 {
    width: 90%;
     text-align: center;
    
 }

 .he {
    width: 90%;
     text-align: center;
   
 }
 

 @media screen and (max-width: 995px) {
    .headd {
        font-size: 32px;
        width: 100%;
    
     
    }
    .resp {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .head1 {
        font-size: 30px;
    }


    .img {
        width: 89%;
    }

    .discord {
        margin-top: 40px;
    }
 }

